USE [master]
GO
/****** Object:  Database [GM]    Script Date: 08/03/2023 09:32:01 ******/
CREATE DATABASE [GM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GM]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 08/03/2023 09:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[ID_CLIENT] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[Adresse] [varchar](50) NOT NULL,
	[Mail] [varchar](50) NULL,
	[Tel] [varchar](20) NOT NULL,
 CONSTRAINT [CLIENT_PK] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTERVENTION]    Script Date: 08/03/2023 09:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTERVENTION](
	[ID_INTER] [int] IDENTITY(1,1) NOT NULL,
	[DATE_INTER] [datetime] NOT NULL,
	[Commentaire] [text] NULL,
	[Technicien] [varchar](50) NOT NULL,
	[ID_MAT] [int] NOT NULL,
 CONSTRAINT [INTERVENTION_PK] PRIMARY KEY CLUSTERED 
(
	[ID_INTER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIEL]    Script Date: 08/03/2023 09:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIEL](
	[ID_MAT] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](50) NOT NULL,
	[NoSerie] [varchar](50) NOT NULL,
	[Date_install] [date] NOT NULL,
	[MTBF] [int] NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[Marque] [varchar](50) NOT NULL,
	[ID_CLIENT] [int] NOT NULL,
 CONSTRAINT [MATERIEL_PK] PRIMARY KEY CLUSTERED 
(
	[ID_MAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilisateur]    Script Date: 08/03/2023 09:32:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilisateur](
	[ID_USER] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Pwd] [varchar](500) NOT NULL,
 CONSTRAINT [Utilisateur_PK] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLIENT] ON 

INSERT [dbo].[CLIENT] ([ID_CLIENT], [Nom], [Adresse], [Mail], [Tel]) VALUES (1, N'Microsoft', N'1 les Ulys', N'ms@ms.com', N'06 22 55 555 0')
INSERT [dbo].[CLIENT] ([ID_CLIENT], [Nom], [Adresse], [Mail], [Tel]) VALUES (2, N'Boulanger', N'88 place Monge', N'miam', N'01 54 82 55 11')
INSERT [dbo].[CLIENT] ([ID_CLIENT], [Nom], [Adresse], [Mail], [Tel]) VALUES (3, N'Toal', N'1 place oui', N'', N'01 74 44 00 00')
SET IDENTITY_INSERT [dbo].[CLIENT] OFF
GO
SET IDENTITY_INSERT [dbo].[INTERVENTION] ON 

INSERT [dbo].[INTERVENTION] ([ID_INTER], [DATE_INTER], [Commentaire], [Technicien], [ID_MAT]) VALUES (2, CAST(N'2022-01-05T00:00:00.000' AS DateTime), N'ok', N'bien', 7)
INSERT [dbo].[INTERVENTION] ([ID_INTER], [DATE_INTER], [Commentaire], [Technicien], [ID_MAT]) VALUES (3, CAST(N'2018-11-24T16:26:01.000' AS DateTime), N'aaaaaf', N'fffffff', 4)
INSERT [dbo].[INTERVENTION] ([ID_INTER], [DATE_INTER], [Commentaire], [Technicien], [ID_MAT]) VALUES (4, CAST(N'2024-03-04T16:27:35.000' AS DateTime), N'comentaire oi', N'le techo', 3)
SET IDENTITY_INSERT [dbo].[INTERVENTION] OFF
GO
SET IDENTITY_INSERT [dbo].[MATERIEL] ON 

INSERT [dbo].[MATERIEL] ([ID_MAT], [Nom], [NoSerie], [Date_install], [MTBF], [Type], [Marque], [ID_CLIENT]) VALUES (1, N'Souris G4', N'0540560653', CAST(N'2012-02-13' AS Date), 10, N'SOURIS', N'Logitech', 3)
INSERT [dbo].[MATERIEL] ([ID_MAT], [Nom], [NoSerie], [Date_install], [MTBF], [Type], [Marque], [ID_CLIENT]) VALUES (2, N'Clavier GK77', N'54034536', CAST(N'2022-05-18' AS Date), 2, N'CLAVIER', N'Logitech', 1)
INSERT [dbo].[MATERIEL] ([ID_MAT], [Nom], [NoSerie], [Date_install], [MTBF], [Type], [Marque], [ID_CLIENT]) VALUES (3, N'D80', N'1826505', CAST(N'2020-06-05' AS Date), 5, N'ECRAN', N'DELL', 1)
SET IDENTITY_INSERT [dbo].[MATERIEL] OFF
GO
SET IDENTITY_INSERT [dbo].[Utilisateur] ON 

INSERT [dbo].[Utilisateur] ([ID_USER], [Login], [Pwd]) VALUES (1, N'toto', N'd1c7c99c6e2e7b311f51dd9d19161a5832625fb21f35131fba6da62513f0c099')
INSERT [dbo].[Utilisateur] ([ID_USER], [Login], [Pwd]) VALUES (2, N'toto007', N'c02eb637573372580eadfdeb29701477d23a152b307f7ff9c3c2b3051d6fcf74')
INSERT [dbo].[Utilisateur] ([ID_USER], [Login], [Pwd]) VALUES (3, N'toto018', N'tata018')
SET IDENTITY_INSERT [dbo].[Utilisateur] OFF
GO
ALTER TABLE [dbo].[INTERVENTION]  WITH CHECK ADD  CONSTRAINT [INTERVENTION_MATERIEL_FK] FOREIGN KEY([ID_MAT])
REFERENCES [dbo].[MATERIEL] ([ID_MAT])
GO
ALTER TABLE [dbo].[INTERVENTION] CHECK CONSTRAINT [INTERVENTION_MATERIEL_FK]
GO
ALTER TABLE [dbo].[MATERIEL]  WITH CHECK ADD  CONSTRAINT [MATERIEL_CLIENT_FK] FOREIGN KEY([ID_CLIENT])
REFERENCES [dbo].[CLIENT] ([ID_CLIENT])
GO
ALTER TABLE [dbo].[MATERIEL] CHECK CONSTRAINT [MATERIEL_CLIENT_FK]
GO
USE [master]
GO
